/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ************************main page**************************** */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@100;300&display=swap");
.card {
  background-color: white;
  width: 20px;
  overflow: hidden;
  margin: 2px;
  -webkit-box-shadow: 5px 5px 5px 5px #000;
          box-shadow: 5px 5px 5px 5px #000;
  border-radius: 0.5px;
}
.card img {
  height: 15px;
  background-size: cover;
  background-position: center;
}
.card .card_content {
  padding: 2px;
}
.card .card_title {
  margin: 0;
  color: black;
}
.card .card_description {
  margin: 0;
  color: #999;
}
.card_dark {
  background-color: black;
}
.card_dark .card_title {
  color: white;
}

html {
  font-size: 6.25%;
  
}

@media screen and (max-width:1050px) {
  html {
    font-size: 3.25%;
  }
}
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
}


.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main{
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: url("../images/background.png") no-repeat;
  background-position: right;
  background-size: contain;
  padding-top: 2%;
  margin-top: -2%;
  margin-left: 10vw;
  margin-right: 10vw;
}
.hero .heroLeft {
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.hero .heroLeft .heroHeading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  /* or 108px */
  letter-spacing: 0.02em;
  max-width: 911.78px;
  color: #451F1F;
  margin-bottom: 20px;
 
}
.hero .heroLeft .heroP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  /* or 38px */
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  /* Neutral / Grey 6 */
  margin-bottom: 20px;
  color: #4F4F4F;
}
.hero .heroLeft .heroButton {
  width: 206px;
  height: 40px;
  background: #451F1F;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140.5%;
  /* or 22px */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 9px;
  color: #F9F8F9;
 
}


.hero .heroRight .manImage {
  width: 408px;
  height: 612px;
}
.hero .heroRight .manImage img {
  /* margin-top: 25%; */
  width: 100%;
  height: 100%;
}
.hero .heroRight .personCard {
  max-width: 382px;
  height: 114px;
  left: 851px;
  top: 834.51px;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 39px 100px rgba(25, 62, 108, 0.12));
          filter: drop-shadow(0px 39px 100px rgba(25, 62, 108, 0.12));
  margin-left: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
-webkit-box-shadow: 0px -1px 16px 10px rgba(0,0,0,0.75);
  
        box-shadow: 0px -1px 16px 10px rgba(0,0,0,0.75);
}
.hero .heroRight .personCard .name {
  padding-top: 8%;
  margin-top: -2%;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  text-align: center;
  color: #451F1F;
}
.hero .heroRight .personCard .degination {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */
  text-align: center;
  color: #87898C;
}

.afterHero {
  background-color: #FFE8BB;
  width: 100%;
}
.afterHero .heading {
  /* max-width: 419.31px; */
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.323077px;
  margin-bottom: 30px;
  /* Neutral / Grey 7 */
  color: #2D2F30;
}
.afterHero .content {
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 143.02%;
  /* or 29px */
  max-width: 500px;
  letter-spacing: 0.323077px;
  margin-bottom: 30px;
  color: #767676;
}
.afterHero .boxes {
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 9vw;
  margin-right: 9vw;
}
.afterHero .boxes .box {
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 20px;
  width: 260px;
  height: 290px;
  left: 222px;
  top: 1402px;
  background: #FCFCFC;
  /* box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06); */
  border-radius: 8px;
  /* position: relative; */
}



.afterHero .boxes .box .circleBG {
  width: 69px;
  height: 71px;
  padding: 10px;
}
.afterHero .boxes .box .circleBG img {
  width: 100%;
  height: 100%;
}
.afterHero .boxes .box .boxheading {
  width: 181px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  /* or 100% */
  letter-spacing: 0.5px;
  /* Text */
  color: #363940;
  padding: 10px;
}
.afterHero .boxes .box p {
  max-width: 230px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133.11%;
  /* or 19px */
  padding: 10px;
  margin-top: -10px;
  /* Neutral / Grey 5 */
  color: #8B8C8C;
}

.afterHero .boxes .box .arrow {
  width: 44px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto;
  /* align-self: flex-end; */
  /* margin-top: -10px;
  padding: 10px; */
  
  float: right;
}


.afterHero .boxes .box .arrow img {
  width: 100%;
}

.counterBG {
  background-image: url("../images/BG.png");
  padding: 50px;
}
.counterBG .counterHeading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.005em;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  /* Default / White */
  color: #FFFFFF;
}
.counterBG p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  /* Default / White */
  color: #FFFFFF;
}
.counterBG .counter {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.counterBG .counter img {
  margin-left: 50px;
  margin-right: 50px;
}
.counterBG .counter .count {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-align: center;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  /* Default / White */
  color: #FFFFFF;
}

.getInTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
}
.getInTouch .column .heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  padding: 10px;
  letter-spacing: 0.5px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
}
.getInTouch .column .content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  max-width: 684px;
  letter-spacing: 0.5px;
  padding: 20px;
  color: #4F4F4F;
}
.getInTouch .column .button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.5px;
  /* Neutral / Grey 1 */
  background: #451F1F;
  border-radius: 8px;
  color: #F9F8F9;
  width: 219px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  margin-left: 20px;
}
.getInTouch .column .button img {
  height: 25px;
  margin-top: 7px;
  margin-right: -15px;
}
.getInTouch .contactPerson {
  width: 439.75px;
  height: 383.34px;
  margin-left: 100px;
}
.getInTouch .contactPerson img {
  width: 100%;
  height: 100%;
}

.founderBg{
  /* width: 704px;
  height: 704px; */
  max-width: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin-left: auto;
margin-right: auto;
}
.founderMsg{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
background: url(/images/founderEclipse.png);
background-repeat: no-repeat;
background-position: top right;
background-size: 25% 80%

}
.founderMsg img{
  min-width: 40%;
}
.founderMsg .rightFmsg{

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
/* border-radius: 0 0 704px 704px;
  background: linear-gradient(180deg, #FAAF18 0%, rgba(250, 175, 24, 0.3) 55.73%, rgba(250, 175, 24, 0.1) 80.73%);
filter: blur(19px); */
/* transform: matrix(1, -0.07, -0.07, -1, 0, 0); */
}

.founderMsg .rightFmsg p:first-child{
  /* max-width: 500px; */
  font-family: 'Playfair Display';
  margin-bottom: 20px;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
/* margin-right: 37%; */
/* text-align: center; */
letter-spacing: 0.5px;
-webkit-font-feature-settings: 'salt' on, 'liga' off;
        font-feature-settings: 'salt' on, 'liga' off;
white-space: nowrap;
/* Neutral / Grey 7 */

color: #2D2F30;
}

.founderMsg .rightFmsg p:last-child {
  max-width: 500px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
text-align: justify ;
/* margin-left: 60px; */
/* or 171% */

letter-spacing: 0.5px;


color: #4F4F4F;
}
@media screen and (max-width: 750px) {
  body > div.afterHero > div > div.boxContainer > div > div.box.mob{
    display: none;
  }
  .founderMsg .rightFmsg p:first-child{
    font-size: 32px;
  }
  .founderMsg .rightFmsg p:last-child {
    font-size: 20px;
    line-height: 31px;
    text-align: justify;
    /* margin-left: 60px; */
    letter-spacing: 0px;
  }
  .hero .heroLeft .heroP {

    font-size: 14px;
  }
  .afterHero .boxes {
  
    -webkit-box-pack: center;
  
        -ms-flex-pack: center;
  
            justify-content: center;
  }
  .founderMsg{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: top;
    background-size: contain;
  }
  .hero .heroLeft {
    /* margin-left: 10%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .heroLeft .heroHeading {
    font-size: 60px;
  }
  .hero .heroLeft .heroButton {
    width: 200px;
    height: 60px;
    background: #451F1F;
    border-radius: 8px;
  }
  .hero .heroRight {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: contents;
  }

  .afterHero .heading {
    font-size: 38px;
  }
  .hero .heroRight .personCard {
    margin-left: 0%;
  }
  .hero .heroRight img {
    margin-top: -1%;
    width: 100%;
    height: 650px;
  }
  .afterHero .boxes .box p {
    width: auto;
  }
  .counterBG {
    padding: 5px;
  }
  .counterBG .counterHeading {
    font-size: 20px;
  }
  .counterBG .counter img {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -100px;
}
  .counterBG p {
    font-size: 16px;
    padding-bottom: 25px;
  }
  .counterBG img {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .counterBG .counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .counterBG .counter .count {
    font-size: 30px;
    padding: 0px;
    line-height: 20px;
  }
  .getInTouch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: center;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    padding: 50px;
  }
  .getInTouch .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .getInTouch .column .heading {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    /* or 133% */
    padding: 5px;
    letter-spacing: 0.5px;
    -webkit-font-feature-settings: "salt" on, "liga" off;
            font-feature-settings: "salt" on, "liga" off;
            white-space: nowrap;
  }
  .getInTouch .column .content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* or 150% */
    max-width: 684px;
    letter-spacing: 0.5px;
    padding: 10px;
    color: #4F4F4F;
  }
  .getInTouch .column .button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.5px;
    /* Neutral / Grey 1 */
    background: #451F1F;
    border-radius: 8px;
    color: #F9F8F9;
    width: 219px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 27px;
    padding: 10px;
    margin-left: 20px;
  }
  .getInTouch .column .button img {
    height: 15px;
    margin-top: 1px;
    padding-right: 10px;
  }
  .getInTouch .contactPerson {
    width: 239.75px;
    height: 183.34px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .getInTouch .contactPerson img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:1050px) {
  .hero .heroLeft .heroButton {
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .heroLeft .heroButton p{
    margin-top: -5px;
    margin-bottom: 0px;
    }

    .hero .heroRight .personCard {
      width: 250px;

    }
}