/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  font-size: 6.25%;
}

body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html, body {
  max-width: 100%;
}

.constitution .backgroundBorder {
  background: #451F1F;
  height: 8px;
  width: 100%;
  /* margin-bottom: 100px; */
  margin-bottom: 6.51vw;
  margin-top: 3.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.constitution .menu {
  /* margin-left: 50px;
  margin-right: 50px; */
  margin-left: 3.255vw;
  margin-right: 3.255vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
}
.constitution .menu a {
  text-decoration: none;
  /* margin-left: 15px; */
  margin-left: 0.977vw;
  /* padding: 8px 25px 8px 25px; */
  padding: 0.521vw 1.628vw  0.521vw 1.628vw;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  font-size:1.302vw;
  /* line-height: 23px; */
  line-height: 1.497vw;
  /* or 115% */
  letter-spacing: 1.5px;
  background: #FFC727;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.constitution .menu a:hover {
  background-color: #451f1f;
  color: #ffffff;
}
.constitution .menu a:active {
  background-color: #231010;
  color: #ffffff;
}

.constitutionLaw {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.constitutionLaw .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.constitutionLaw .column .heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2552083333333vw;
  /* font-size: 50px; */
  line-height: 143.61%;
  /* or 92px */
  /* max-width: 648px; */
  letter-spacing: 0.1em;
  color: #000000;
}
.constitutionLaw .column .content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 1.302vw;
  line-height: 143.61%;
  /* or 34px */
  max-width: 528px;
  letter-spacing: 0.1em;
  color: #000000;
}
.constitutionLaw .column .bankruptyWidth{
max-width: 51.497vw;
}
.constitutionLaw .column .consWidth {
  max-width: 34.375vw;
}

.constitutionLaw .column .propRightWidth {
  max-width:44.596vw;
}

.constitutionLaw .column .litigationWidth {
  max-width: 49.674vw;
}
.constitutionLaw .column .consumerWidth {
  max-width: 44.596vw;
}

.constitutionLaw .column .criminalWidth {
  max-width: 44.596vw;
}

.constitutionLaw .column .contentArbitration {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 1.302vw;
  line-height: 143.61%;
  /* or 34px */
  max-width: 685px;
  letter-spacing: 0.1em;
  color: #000000;
  max-width:44.596vw
}
.constitutionLaw .column .button {
  background: #FAAF18;
  /* width: 255px; */
  width: 16.602vw;
  /* height: 67px; */
  height: 4.362vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.constitutionLaw .column .button p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* font-size: 32px; */
  font-size: 2.083vw;
  line-height: 143.61%;
  /* identical to box height, or 46px */
  letter-spacing: 0.1em;
  color: #000000;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.constitutionLaw .image {
  /* width: 828px; */
  
  max-width: 53.906%;
  /* height: 480px; */
  height:31.250%
}
.constitutionLaw .image img {
  width: 100%;
  height: 100%;
}
.constitutionLaw .imageArbitration {
  /* width: 600px; */
  max-width: 45%; 
  max-height: 45vw;
  /* width: 39.063vw;
  height: 696px; */
}
.constitutionLaw .imageArbitration img {
  width: 100%;
  height: 100%;
}
.constitutionLaw .litigation {
  max-width: 45.117%;
   max-height: 45.117%;
}
.constitutionLaw .litigation img {
  width: 100%;
  height: 100%;
}

.constitutionLaw .litigation100{
  max-width:32.552%;
   max-height:35%
}
.constitutionLaw .litigation100 img {
  
  width: 100%;
  height: 100%;
  margin-top: -100%;
}

/* @media screen and (max-width: 1180px) {
  .constitution {
    display: none;
  }
} */
@media screen and (max-width: 550px) {
  .constitutionLaw .column .heading {
    font-size: 5vw;
  }

  .constitutionLaw .column .content {
    font-size: 2vw;
  }

 .constitutionLaw .column .contentArbitration { 
      font-size: 2vw;
  }
  .constitutionLaw .column .bankruptyWidth{
    max-width:90vw;
    }
    .constitutionLaw .column .consWidth {
      max-width: 85vw;
    }
    
    .constitutionLaw .column .propRightWidth {
      max-width:90vw;
    }
    
    .constitutionLaw .column .litigationWidth {
      max-width: 90vw;
    }
    .constitutionLaw .column .consumerWidth {
      max-width: 90vw;
    }

    .constitutionLaw .column .contentArbitration  {
      max-width: 90vw;
    }

    .constitutionLaw .column .criminalWidth {
      max-width: 90vw;
    }



    .constitutionLaw .image {
  /* width: 828px; */
  
  max-width: 85vw;
  /* height: 480px; */
  height:80vw
}
.constitutionLaw .image img {
  width: 100%;
  height: 100%;
}
.constitutionLaw .imageArbitration {
  /* width: 600px; */
  max-width: 85vw; 
  max-height: 45vw;
  /* width: 39.063vw;
  height: 696px; */
}
.constitutionLaw .imageArbitration img {
  width: 100%;
  height: 100%;
}
.constitutionLaw .litigation {
  max-width: 80vw;
   max-height: 60vw;
}
.constitutionLaw .litigation img {
  width: 100%;
  height: 100%;
}

.constitutionLaw .litigation100{
  max-width:45vw;
   max-height:45vw
}
.constitutionLaw .litigation100 img {
  
  width: 100%;
  height: 100%;
  margin-top: auto;
}

  .constitution {
    display: none;
  }
   /*
  .constitutionLaw {
    margin-left: 5%;
    margin-right: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .constitutionLaw .column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .constitutionLaw .column .heading {
    font-size: 32px;
  }
  .constitutionLaw .column .content {
    font-size: 16px;
  }
  .constitutionLaw .column .button {
    width: 135px;
    height: 47px;
  }
  .constitutionLaw .column .button p {
    font-size: 16px;
  }
  .constitutionLaw .litigation {
    width: 100vw;
    height: auto;
    margin-top: 0px;
  }
  .constitutionLaw .litigation img {
    width: 100%;
    height: 100%;
  } */
}
/* @media screen and (max-width: 1063px) {
  .constitutionLaw .litigation100 img {
    width: 100%;
    height: 100%;
    margin-top: 0%;
  }
} */
/* @media screen and (max-width: 1020px) {
  .constitutionLaw .litigation {
    width: 500px;
    height: 507px;
    margin-top: 0px;
  }
  .constitutionLaw .litigation img {
    width: 100%;
    height: 100%;
  }
} */