/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


html {
  font-size: 6.25%;
 
}

@media screen and (max-width:1050px) {
  html {
    font-size: 4.25%;
 
  }   
}
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
}

.privacyPolicy {
  margin-top: 50px;
}
.privacyPolicy .heading {
  margin-left: 12%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 23px;
  color: #FAAF18;
}
.privacyPolicy .border {
  height: 7px;
  background-color: #FAAF18;
}
.privacyPolicy .content {
  margin-left: 12%;
  margin-right: 12%;
}
.privacyPolicy .content .head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FAAF18;
}
.privacyPolicy .content p {
  font-family: "Poppins";
  font-style: normal;
  font-size: 15px;
  line-height: 23px;
  /* or 115% */
}
.privacyPolicy .content ul li {
  font-family: "Poppins";
  font-style: normal;
  font-size: 15px;
  line-height: 23px;
}