/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 6.25%;
  
}

@media screen and (max-width:1050px) {
  html {
    font-size: 4.25%;
  }
}
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
}


.iti {
  margin-bottom: 10rem;
}

.iti__country {
  padding: 5px 10px;
  outline: none;
  font-size: 17px;
}

.contactUs {
  background-image: url("./images/contactBG.png");
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.contactUs .contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 30px rgba(102, 106, 245, 0.13);
          box-shadow: 0px 20px 30px rgba(102, 106, 245, 0.13);
  border-radius: 14px;
  max-width: 935rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 25rem;
}
.contactUs .contactBox .from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contactUs .contactBox .from h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 24rem;
  line-height: 36rem;
  /* identical to box height */
  letter-spacing: 0.08rem;
  color: #451F1F;
}
.contactUs .contactBox .from h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #000000;
}
.contactUs .contactBox .from form input {
  width: 430rem;
  height: 50rem;
  margin-bottom: 10rem;
  background: #F5F5FF;
  border: 0rem solid;
  text-indent: 10px;
}
.contactUs .contactBox .from form input ::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form input ::-webkit-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form input :-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form input ::-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form input ::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form input[type=submit] {
  background: #451F1F;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
.contactUs .contactBox .from form textarea {
  width: 430rem;
  height: 125rem;
  border: 0rem solid;
  background: #F5F5FF;
  margin-bottom: 10rem;
}
.contactUs .contactBox .from form textarea ::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form textarea ::-webkit-input-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form textarea :-ms-input-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form textarea ::-ms-input-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form textarea ::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #9F9F9F;
}
.contactUs .contactBox .from form textarea:focus, .contactUs .contactBox .from form input:focus {
  outline: none;
}
.contactUs .contactBox .contactInfoMap {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.contactUs .contactBox .contactInfoMap .map {
  width: 400rem;
  height: 261rem;
  border: 5px solid #000000;
}
.contactUs .contactBox .contactInfoMap .contactInfo {
  margin-top: 10rem;
  margin-bottom: -10rem;
}
.contactUs .contactBox .contactInfoMap .contactInfo .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactUs .contactBox .contactInfoMap .contactInfo .row img {
  margin-right: 15rem;
  height: 30rem;
  width: 30rem;
}
.contactUs .contactBox .contactInfoMap .contactInfo .row p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16rem;
  line-height: 19rem;
  letter-spacing: 0.025em;
  color: #000000;
}

@media screen and (max-width: 900px) {
  .contactUs .contactBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactUs .contactBox .from input {
    max-width: 70vw;
  }
  .contactUs .contactBox .from textarea {
    max-width: 70vw;
  }
  .contactUs .contactBox .contactInfoMap {
    margin-top: 35rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contactUs .contactBox .contactInfoMap .map {
    max-width: 70vw;
  }
}