@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '../css/mixins';
html{
    font-size: 6.25%;
}
body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    //  max-width: 1584rem;
    // overflow-x: hidden;
    justify-content: center;
  }
  html, body {
    max-width: 100%;
    // overflow-x: hidden;
}

.iti{
    margin-bottom: 10rem;
}
.iti__country {
    padding: 5px 10px;
    outline: none;
    font-size: 17px;
}
.contactUs{
    background-image: url("./images/contactBG.png");
    background-size: 100% 50%;
    background-repeat: no-repeat;
   
    // margin-top: -20rem;
    .contactBox{
        @include flex-row-space-between-wrap;
        background: #FFFFFF;
        box-shadow: 0px 20px 30px rgba(102, 106, 245, 0.13);
        border-radius: 14px;
        max-width: 935rem;
        margin-left:auto;
        margin-right:auto;
        margin-top: 5%;
        margin-bottom: 2%;
        padding: 25rem;
    .from{

        @include flex-column-start;
        h1{
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 600;
            font-size: 24rem;
            line-height: 36rem;
            /* identical to box height */

            letter-spacing: 0.08rem;

            color: #451F1F;
        }

        h2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12rem;
            line-height: 18rem;
            /* identical to box height */

            letter-spacing: 0.08em;

            color: #000000;
        }

        form{
        input{
            width: 430rem;
            height: 50rem;
            // margin-top: calc(50% - 50rem/2 - 303rem);
            margin-bottom: 10rem;
            background: #F5F5FF;
            border: 0rem solid;
            ::placeholder{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12rem;
                line-height: 15rem;
                /* identical to box height */

                letter-spacing: 0.08em;

                color: #9F9F9F;
            }
            
        }

        input[type=submit]{
            background: #451F1F;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */

            letter-spacing: 0.08em;

            color: #FFFFFF;
        }
        textarea{
            width: 430rem;
            height: 125rem;
            // top: calc(50% - 125rem/2 - 45.5rem);
            border: 0rem solid;
            background: #F5F5FF;
            margin-bottom: 10rem;
            ::placeholder{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12rem;
                line-height: 18rem;
                /* identical to box height */
               
                letter-spacing: 0.08em;

                color: #9F9F9F;
            }
        }

        textarea:focus, input:focus{
            outline: none;
        }
    }
    }
        .contactInfoMap{
            align-self: flex-end;

            .map{
                width: 400rem;
                height: 261rem;
                border: 5px solid #000000;
            }
            .contactInfo{
                margin-top: 10rem;
                margin-bottom: -10rem;
        .row{
            @include flex-row-start;
            //   justify-content: center;
                  align-items: center;

            img{
                
                margin-right: 15rem;
                height: 30rem;
                width: 30rem;
            }
           p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16rem;
                line-height: 19rem;
                letter-spacing: 0.025em;

                color: #000000;
            }
        }
    }
        }
    }
}


@media screen and (max-width:900px) {

    .contactUs{
        .contactBox{
            @include flex-column-center;
            .from{
                input{
                   max-width: 70vw;
                }
                textarea{
                    max-width: 70vw;
                }
            }

            .contactInfoMap{
                margin-top: 35rem;
                align-self:center;
                .map{
                  
                    max-width: 70vw;

                }
            }
        }
    }
    
}