/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.rowCopyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #451F1F;
  mix-blend-mode: normal;
  height: 50px;
  width: 100%;
}
.rowCopyright p {
  margin-left: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  /* Text / Gray 300 */
  color: #D9DBE1;
}
.rowCopyright .footer-menu {
  float: right;
  margin-right: 200px;
  letter-spacing: 1px;
}
.rowCopyright .footer-menu a {
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}
.rowCopyright .footer-menu a i {
  height: 30px;
  width: 300px;
}
.rowCopyright .footer-menu .fa-brands {
  height: 300px;
  width: 300px;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#451F1F), to(#924545));
  background: -o-linear-gradient(top, #451F1F 0%, #924545 100%);
  background: linear-gradient(180deg, #451F1F 0%, #924545 100%);
}
.footer footer {
  margin-left: 160px;
  margin-right: 160px;
}
.footer footer .lastlogo {
  margin-top: -20px;
  position: absolute;
}
.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin-left: auto;
          margin-right: auto;
}
.footer .row .column {
  margin-left: 20px;
 
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-top: 80px;
      /* flex-grow: 2; */
      flex: 1 0 calc(25% - 10px)
}
.footer .row .column a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.025em;
  text-decoration: none;
  color: #FFFFFF;
  padding: 2px;
}
.footer .row .column h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 24px;
  letter-spacing: 0.025px;
  margin-bottom: 25px;
  color: #FFFFFF;
  margin-top: revert;
}

#firstFooter{
  display: flex; flex-direction: row; flex-wrap: nowrap;margin-bottom: 10px;
}
#secondFooter{
  display: flex; flex-direction: column; flex-wrap: nowrap;
}
#thirdFooter{
  display: flex; flex-direction: row; flex-wrap: nowrap; margin-bottom: 10px;
}
#fourthFooter{
  display: flex; flex-direction: column; flex-wrap: nowrap;
}

.mobMarginBeforeFooter{
  margin-top: 50px;
}
@media screen and (max-width: 1150px) {
  .footer .row .column h3 {
    font-size: 20px
  }
  .footer .row .column a {
    font-size: 12px;
  }
  .footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#451F1F), to(#924545));
    background: -o-linear-gradient(top, #451F1F 0%, #924545 100%);
    background: linear-gradient(180deg, #451F1F 0%, #924545 100%);
  }
  .footer footer {
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
  }
  .rowCopyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #451F1F;
    mix-blend-mode: normal;
    height: auto;
    width: 100%;
  }
  .rowCopyright p {
    margin-left: 2px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    -webkit-font-feature-settings: "salt" on, "liga" off;
            font-feature-settings: "salt" on, "liga" off;
    /* Text / Gray 300 */
    color: #D9DBE1;
  }
  .rowCopyright .footer-menu {
    float: right;
    margin-right: 2px;
    letter-spacing: 1px;
  }
  .rowCopyright .footer-menu a {
    color: #cfd2d6;
    padding: 6px;
    text-decoration: none;
  }
  .rowCopyright .footer-menu a i {
    height: 30px;
    width: 300px;
  }
  .rowCopyright .footer-menu .fa-brands {
    height: 300px;
    width: 300px;
  }

  .mobMarginBeforeFooter{
    margin-top: 50px;
  }
}
.socialMedia{
  display: none;
}

@media screen and (max-width:490px) {
  .footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
}
.socialMedia{
  display: block;
}
 
.footer .row .column {
  /* margin: 20px; */
 
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-top: 40px;
      /* flex-grow: 2; */
   
      flex: 2 0 calc(45% - 10px)
}

.footer .row .item1{
  flex: 2 0 calc(90% - 10px)
}
.rowCopyright .footer-menu {
 display: none;
}
}