/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


a{
  text-decoration: none;
}
.header {
  margin-top: 20rem;
  margin-left: 10vw;
  margin-right: 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logo {
  height: 109.2rem;
}
.header .logo img {
  width: 100%;
  height: 100%;
}
.header .menubar {
  /* Neutral / Grey 7 */
  color: #2D2F30;
}
.header .menubar a {
  color: #2D2F30;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 23rem;
  /* identical to box height, or 153% */
  letter-spacing: 1.5rem;
  margin-left: 23rem;
  /* padding: 10rem; */
}
.header .menubar button {
  border: none;
  background: none;
  margin-left: 32rem;
  color: #2D2F30;
  margin-left: 32rem;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 23rem;
  /* identical to box height, or 153% */
  letter-spacing: 1.5rem;
}

.header .menubar .dropdown-content {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 1;
  margin-left: -80rem;
  background: #FFFFFF;
  -webkit-box-shadow: 4rem 4rem 7rem rgba(0, 0, 0, 0.25);
          box-shadow: 4rem 4rem 7rem rgba(0, 0, 0, 0.25);
  border-radius: 7rem;
}
/* .header .menubar .dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}  .header .menubar .dropdown-content a {
  color: #2D2F30;
  margin-left: 32rem;
  white-space: nowrap;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 23rem;
  letter-spacing: 1.5rem;
} */
.header .menubar .dropdown-content a {
  color: #2D2F30;
  margin-left: 32rem;
  white-space: nowrap;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 30rem;
  margin-right: 23rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;

}

.header .menubar a:hover {
  text-decoration: underline;
    /* text-decoration-thickness: auto; */
  text-decoration-thickness: 3rem;
}
.header .menubar button:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.header .menubar .dropdown-content:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .topnav {
  background-color: #333;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .topnav a {
  color: white;
  padding: 14rem 16rem;
  text-decoration: none;
  font-size: 17rem;
  text-align: center;
  display: none;
}
.header .topnav a.icon {
  background: black;
  display: none;
  right: 0;
  top: 0;
}
a.iconClose {
  background: black;
  display: none;
  right: 0;
  top: 0;
}
#myLinks {
  background-color: #e4c70e;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#myLinks a {
  color: black;
  padding: 14rem 16rem;
  text-decoration: none;
  font-size: 37rem;
  text-align: center;
  display: block;
  line-height: 40rem;
  text-transform: uppercase;
}
#myLinks a:hover {
  background-color: #e4c70e;
  color: black;
}
#myLinks .dropdown {
  color: black;
  padding: 14rem 16rem;
  text-decoration: none;
  font-size: 37rem;
  text-align: center;
  display: block;
  background: none;
  line-height: 28rem;
}
#myLinks button {
  border: none;
  margin-left: auto;
    margin-right: auto;
  background: none;
  
}
#myLinks .dropdown-content {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #7c0202;
  /* margin-left: -36rem; */
}
#myLinks .dropdown-content a {
  color: #ffffff;
  white-space: nowrap;
}
#myLinks button:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-30%, -0%);
      -ms-transform: translate(-30%, -0%);
          transform: translate(-30%, -0%);
}
#myLinks .dropdown-content:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#show{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dropdown_menu-6 {
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}
@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@media screen and (max-width: 1050rem) {
  .header {
    /* margin-left: 50rem;
    margin-right: 10rem; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .logo {
    margin-left: 0rem;
  }
  .header .menubar {
    display: none;
    margin-left: 50rem;
  }
  .header .topnav {
    margin-left: 50rem;
  }
  .header .topnav a.icon {
    display: block;
  }
}
.expand{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}